<h1>Avis existants</h1>

<div class="mb-5 flex flex-wrap gap-2">

  @for (filter of filters; track filter.value) {
  <button
    (click)="onFilterChange(filter.value)"
    class="filter-button"
    [ngClass]="reviewType() === filter.value
      ? 'bg-accent text-white border-primary cursor-default'
      : 'bg-white text-gray-700 border-gray-300 hover:bg-gray-100 hover:text-gray-800'">

    {{ filter.label }}
  </button>
}

</div>
@let reviews = reviews$ | async;

@if (loading) {
  <app-spinner [size]="60" message="Chargement des avis en cours"></app-spinner>
} @else if (errorMessage) {

  <div class="flex flex-col items-center gap-4">
  <span class="text-red-500">⚠ {{ errorMessage }}</span>
  <button
    class="btn btn-primary"
    [disabled]="loading"
    (click)="reloadReviews()">
    Réessayer
  </button>
</div>

} @else if (!reviews || reviews.length === 0) {
  <p>Aucun avis trouvé.</p>
} @else {
  @for (review of reviews; track review.id) {
    <app-review-card [review]="review" [highlight]="review.id === highlightReviewId"></app-review-card>
  }
}